/* src/PasswordGenerator.css */
body {
    background-color: #f0f2f5; /* Light background color for the whole page */
}

.card {
    border-radius: 15px;
    background: linear-gradient(135deg, #007bff, #00c6ff); /* Gradient background for the card */
}

.card-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
}

.password-output {
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



button:hover {
    background-color: #0056b3;
    transition: background-color 1s ease;
}

button:active {
    background-color: #003d80;
}
